<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<H1>welcome templates hello</H1>
	<div>
		<ul>
			<li th:each="item : ${users}" th:text="${item.name}"></li>
		</ul>
	</div>
	<form action="/login" method="get">
		<div>
			<div>
				<span>id:</span><input type="text" name="name" placeholder="请输入id" />
			</div>
			<div>
				<span>name:</span><input type="text" name="passwd" placeholder="请输入name" />
			</div>
		</div>
		<input type="submit" value="登录" />
	</form>
</body>
</html>